---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #020f09;
  background-image: linear-gradient(120deg, #020f09, #6C0F3E);

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;
    border: none;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: none;
    }
    tr {
    broder: none;
    }
  }

.headshot {
	width: 120px;
	margin: 0px 0px;
}

.peopletable td {
  vertical-align: center;
  padding: 15px;
  border: none;
}

.peopletable {
	border-collapse: collapse;
}

.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    font-weight: normal;
    color: #020f09
}

.center-description {
	text-align: center;
}

