---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: url('{{ site.baseurl }}/assets/images/castblack-01-2.png');

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.center-description {
	text-align: center;
}

