<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
       <link href="{{ site.path }}/css/bootstrap.min.css" rel="stylesheet">
   <link href="{{ site.path }}/css/gymreklab_styles.css" rel="stylesheet">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.path }}/index.html">{{ site.title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
      <li><a class="active" href="{{ site.path }}/team.html">Team</a></li>
      <li><a class="active" href="{{ site.path }}/research.html">Research Areas</a></li>
      <li><a class="active" href="{{ site.path }}/publications.html">Publications</a></li>
      <li><a class="active" href="{{ site.path }}/resources.html">Resources</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <p><br><br></p>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <img src="favicon.ico">
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      </footer>
    </main>
  </body>
</html>